<style>
  .background-image {
    width: 100%;
    max-height: 300px;
    overflow: hidden;
  }
  .background-image img {
    width: 100%;
    margin-top: -10%;
  }
  .nav-item {
    padding: 6px 12px;
  }
  .welcome-message {
    padding: 24px 0 12px 0;
  }
  .highlight {
    border: solid var(--chinese-silver) 1px;
    border-radius: 9px;
    margin: 6px 0;
    padding: 12px;
  }
  .footer {
    height: 100px;
  }
</style>

<div class="container">
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" routerLink="/">Tufts HCI Lab</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a data-bs-toggle="collapse" data-bs-target=".navbar-collapse.show" routerLink="/">Home</a>
        </li>
        <li class="nav-item">
          <a data-bs-toggle="collapse" data-bs-target=".navbar-collapse.show" routerLink="/people">People</a>
        </li>
        <li class="nav-item">
          <a data-bs-toggle="collapse" data-bs-target=".navbar-collapse.show" routerLink="/projects">Projects</a>
        </li>
        <li class="nav-item">
          <a data-bs-toggle="collapse" data-bs-target=".navbar-collapse.show" routerLink="/publications">Publications</a>
        </li>
        <li class="nav-item">
          <a data-bs-toggle="collapse" data-bs-target=".navbar-collapse.show" routerLink="/code_and_datasets">Code & Datasets</a>
        </li>
      </ul>
    </div>
  </nav>
</div>

<div class="background-image"><img src="../assets/TJCC-College-Ave-Rendering-Dusk.jpg"></div>

<div class="container"><router-outlet></router-outlet></div>

<div class="container" *ngIf="isHomePage()">
  <h6 class="welcome-message">Welcome to the homepage of the Human-Computer Interaction (HCI) Lab at Tufts University!</h6>
  <p>The <a href="https://www.tufts.edu/" target="_blank">Tufts</a> HCI Lab is directed by <a href="https://www.cs.tufts.edu/~jacob/" target="_blank">Professor Rob Jacob</a>. Our research covers new interaction modes and techniques and user interface software; our current work focuses on implicit brain-computer interfaces. Lab members include Ph.D. and Master students, undergraduate researchers, post-docs and visiting scholars.</p>
  <p>We are actively looking for motivated students to join our lab. If you are interested in human-computer interaction research, please email us your CV.</p>
  
  <h1>Recent News</h1>
  <div class="highlight">
    <h4>Announcement</h4>
    <p>Announcement text</p>
  </div>
  <div class="highlight">
    <h4>Announcement</h4>
    <p>Announcement text</p>
  </div>
</div>

<div class="footer"></div>
