<style>
    .person {
        border: solid var(--chinese-silver) 1px;
        border-radius: 9px;
        margin: 6px;
    }
    .person h5 {
        color: black;
        background-color: var(--chinese-silver);
        border-radius: 6px 6px 0 0;
        padding: 6px;
        text-align: center;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }
    .person a h5:hover {
        color: var(--dark-charcoal);
        text-decoration: none;
    }
    .frame {
        padding: 0 12px 90% 12px;
        width: 100%;
        height: 0;
        overflow: hidden;
        margin: auto;
    }
    .frame img{
        width: 100%;
    }
</style>
<h1>People</h1>

<h3>Faculty</h3>
<div class="row no-gutters">
    <ng-container *ngFor="let person of people">
        <div *ngIf="person.position == 'Faculty'"  class="col-6 col-md-3">
            <div class="person">
                <a *ngIf="person.url" href="https://{{ person.url }}" target="_blank">
                    <h5>{{ person.name }}</h5>
                    <div class="frame"><img class="profile" src="{{ person.image }}" onerror="this.onerror=null;this.src='assets/blank-avatar.png';"></div>  
                </a>
                <div *ngIf="!person.url">
                    <h5>{{ person.name }}</h5>
                    <div class="frame"><img class="profile" src="{{ person.image }}" onerror="this.onerror=null;this.src='assets/blank-avatar.png';"></div>  
                </div>
            </div>
        </div>
    </ng-container>
</div>
<h3>Ph.D. Students</h3>
<div class="row no-gutters">
    <ng-container *ngFor="let person of people">
        <div *ngIf="person.position == 'Ph.D. Student'"  class="col-6 col-md-3">
            <div class="person">
                <a *ngIf="person.url" href="https://{{ person.url }}" target="_blank">
                    <h5>{{ person.name }}</h5>
                    <div class="frame"><img class="profile" src="https://{{ person.image }}" onerror="this.onerror=null;this.src='assets/blank-avatar.png';"></div>  
                </a>
                <div *ngIf="!person.url">
                    <h5>{{ person.name }}</h5>
                    <div class="frame"><img class="profile" src="https://{{ person.image }}" onerror="this.onerror=null;this.src='assets/blank-avatar.png';"></div>  
                </div>
            </div>
        </div>
    </ng-container>
</div>
<h3>Masters Students</h3>
<div class="row no-gutters">
    <ng-container *ngFor="let person of people">
        <div *ngIf="person.position == 'Masters Student'"  class="col-6 col-md-3">
            <div class="person">
                <a *ngIf="person.url" href="https://{{ person.url }}" target="_blank">
                    <h5>{{ person.name }}</h5>
                    <div class="frame"><img class="profile" src="https://{{ person.image }}" onerror="this.onerror=null;this.src='assets/blank-avatar.png';"></div>  
                </a>
                <div *ngIf="!person.url">
                    <h5>{{ person.name }}</h5>
                    <div class="frame"><img class="profile" src="https://{{ person.image }}" onerror="this.onerror=null;this.src='assets/blank-avatar.png';"></div>  
                </div>
            </div>
        </div>
    </ng-container>
</div>
<h3>Undergraduates</h3>
<div class="row no-gutters">
    <ng-container *ngFor="let person of people">
        <div *ngIf="person.position == 'Undergraduates'"  class="col-6 col-md-3">
            <div class="person">
                <a *ngIf="person.url" href="https://{{ person.url }}" target="_blank">
                    <h5>{{ person.name }}</h5>
                    <div class="frame"><img class="profile" src="https://{{ person.image }}" onerror="this.onerror=null;this.src='assets/blank-avatar.png';"></div>  
                </a>
                <div *ngIf="!person.url">
                    <h5>{{ person.name }}</h5>
                    <div class="frame"><img class="profile" src="https://{{ person.image }}" onerror="this.onerror=null;this.src='assets/blank-avatar.png';"></div>  
                </div>
            </div>
        </div>
    </ng-container>
</div>
<h3>Alumnus</h3>
<div class="row no-gutters">
    <ng-container *ngFor="let person of people">
        <div *ngIf="person.position == 'Alumni'"  class="col-6 col-md-3">
            <div class="person">
                <a *ngIf="person.url" href="https://{{ person.url }}" target="_blank">
                    <h5>{{ person.name }}</h5>
                    <div class="frame"><img class="profile" src="https://{{ person.image }}" onerror="this.onerror=null;this.src='assets/blank-avatar.png';"></div>  
                </a>
                <div *ngIf="!person.url">
                    <h5>{{ person.name }}</h5>
                    <div class="frame"><img class="profile" src="https://{{ person.image }}" onerror="this.onerror=null;this.src='assets/blank-avatar.png';"></div>  
                </div>
            </div>
        </div>
    </ng-container>
</div>