<style>
    .profile{
        width: 100px; 
        height: 100px; 
    }
</style>

<p>people works!</p>

<h3>Faculty</h3>
<div *ngFor="let person of people">
    <div *ngIf="person.position == 'Faculty'">
        <div>{{ person.name }}</div>  
        <img class="profile" src="{{ person.image }}">  
    </div>
</div>
<h3>Postdoc</h3>
<div *ngFor="let person of people">
    <div *ngIf="person.position == 'Postdoc'">
        <div>{{ person.name }}</div>  
        <img class="profile" src="{{ person.image }}">  
    </div>
</div>
<h3>Ph.D. Students</h3>
<div *ngFor="let person of people">
    <div *ngIf="person.position == 'Ph.D. Student'">
        <div>{{ person.name }}</div> 
        <img class="profile" src="{{ person.image }}"> 
    </div>
</div>
<h3>Masters Students</h3>
<div *ngFor="let person of people">
    <div *ngIf="person.position == 'Masters Student'">
        <div>{{ person.name }}</div>  
        <img class="profile" src="{{ person.image }}">  
    </div>
</div>
<h3>Undergraduates</h3>
<div *ngFor="let person of people">
    <div *ngIf="person.position == 'Undergraduate'">
        <div>{{ person.name }}</div>  
        <img class="profile" src="{{ person.image }}">  
    </div>
</div>
<h3>Alumnus</h3>
<div *ngFor="let person of people">
    <div *ngIf="person.position == 'Alumni'">
        <div>{{ person.name }}</div>  
        <img class="profile" src="{{ person.image }}">  
    </div>
</div>