<h1>Publications</h1>

<div *ngFor="let year of years">
    <h3>{{ year }}</h3>
    <div *ngFor="let publication of publications">
        <div *ngIf="publication.year == year">
            <div>
                <b>{{ publication.title }}</b>.
                {{ publication.author }}.
                <i>{{ publication.booktitle }}</i> ({{ publication.year }}).
                <a *ngIf="publication.link" href="https://{{ publication.link }}">[link]</a>
            </div> 
        </div>
    </div>
</div>